@import './smart-grid';
@import './mixins';

@include reset();

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Bold.eot) format("eot"),
         url(../fonts/DarkerGrotesque-Bold.ttf) format("truetype"),
         url(../fonts/DarkerGrotesque-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Medium.eot) format("eot"),
         url(../fonts/DarkerGrotesque-Medium.ttf) format("truetype"),
         url(../fonts/DarkerGrotesque-Medium.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Regular.eot) format("eot"),
         url(../fonts/DarkerGrotesque-Regular.ttf) format("truetype"),
         url(../fonts/DarkerGrotesque-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 14px;
}

*:focus {
    outline: none;
}

body {
    font-size: 1rem;
    font-display: swap;
    font-family: 'Darker Grotesque', sans-serif;
}

.ps {
    font-style: italic;
    font-size: 14px;
}

.row-inner {
    display: flex;
    flex-wrap: wrap;
}

.container {
    @include wrapper();
}

.show-xs {
    display: none !important;
    @include xs(display, block !important);
}

.show-sm {
    display: none !important;
    @include sm(display, block !important);
}

.hide-sm {
    @include sm-block {
        display: none !important;
    }
}

.hide-xs {
    @include xs-block {
        display: none !important;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.title-primary {
    font-size: 50px;
    color: rgb(17, 15, 15);
    text-align: center;

    @include sm-block {
        font-size: 34px;
    }

    @include xs-block {
        font-size: 24px;
    }

    &.white {
        color: #fff;
    }

}

.title-secondary {
    font-size: 25px;
    line-height: 34px;
    font-weight: normal;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;

    @include sm-block {
        font-size: 22px;
        line-height: 25px;
    }

    @include xs-block {
        font-size: 18px;
        line-height: 23px;
    }

    &.white {
        color: #fff;
    }

}

button {
    padding: 0;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    line-height: 1;
    cursor: auto;
}

.title-tertiary {
    font-size: 23px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;

    @include sm-block {
        font-size: 20px;
    }
}

.desc-primary {
    text-align: center;
    font-size: 16px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.hr {
    width: 300px;
    height: 3px;
    background-color: #333;
    margin: 30px auto;
}

.row {
    @include row-flex();
}

.text-center {
    text-align: center;
}

.overhidden {
    @include sm-block {
        overflow: hidden;
    }
}

button {
    -webkit-appearance: none;
}

.paragraph {
    font-size: 20px;
    text-align: justify;

    @include lg-block {
        font-size: 17px;
    }

    @include md-block {
        font-size: 16px;
    }
}

::selection {
    background: #000; /* WebKit/Blink Browsers */
    color: #fff;
  }

.btn-primary {
    display: inline-block;
    color: #101010;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;


    &:hover {
        border-color: #101010;
    }
}